/*CSS Reset*/
*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

#root, body {
    height: 100%;
    width: 100%;
}

/* Body Defaults */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    color: #333;
    background-color: #fff;
}

// Img Reset
img {
    display: block;
    max-width: 100%;
    height: auto;
}